<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <filter>
        <filter-name>test-webxml-filter</filter-name>
        <filter-class>shiver.me.timbers.junit.runner.tomcat.test.webxml.WebXmlTestFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>init</param-name>
            <param-value>param</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>test-webxml-filter</filter-name>
        <url-pattern>/test</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>test-webxml-servlet</servlet-name>
        <servlet-class>shiver.me.timbers.junit.runner.tomcat.test.webxml.WebXmlTestServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>init</param-name>
            <param-value>param</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>test-webxml-servlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

</web-app>